## 数据读取

In [2]:
import pandas as pd

In [4]:
data=pd.read_excel("RFM聚类分析【样本数据】.xlsx",index_col="用户编码")
data.head()

                                         首次投资时间   最近一次投资时间   总计投资总金额  总计投标总次数
用户编码
45B3CCE7-957B-4D54-9626-6D62731D119B 2016-06-25 2016-06-26   20000.0        3
9921C535-75FC-4695-8551-32B8D717B4A5 2016-06-26 2016-06-26   50000.0        3
2F00D4E3-CC7D-4DB1-B210-6F095156C5B8 2016-06-13 2016-06-19  108000.0        4
150218D8-BF32-406D-A3A8-8A19CB1E85AA 2016-06-16 2016-06-16   30000.0        3
98C26D4A-708F-4334-B3D7-EDAE9FD240C8 2016-06-27 2016-06-27  100000.0        3

In [5]:
len(data)

200

## 数据探索预处理

In [6]:
data.describe()# 不加all会只统计数值型的指标统计。

             总计投资总金额    总计投标总次数
count     200.000000  200.00000
mean    47223.409500    5.92000
std     43381.496372    4.84883
min     10100.000000    2.00000
25%     20000.000000    3.00000
50%     30000.000000    4.00000
75%     58000.000000    6.00000
max    250000.000000   34.00000

In [7]:
data.describe(include="all")# 不加all会只统计数值型的指标统计。

                     首次投资时间             最近一次投资时间        总计投资总金额    总计投标总次数
count                   200                  200     200.000000  200.00000
unique                   24                   38            NaN        NaN
top     2016-06-22 00:00:00  2016-06-25 00:00:00            NaN        NaN
freq                     20                   25            NaN        NaN
first   2016-06-06 00:00:00  2016-06-06 00:00:00            NaN        NaN
last    2016-06-29 00:00:00  2016-07-18 00:00:00            NaN        NaN
mean                    NaN                  NaN   47223.409500    5.92000
std                     NaN                  NaN   43381.496372    4.84883
min                     NaN                  NaN   10100.000000    2.00000
25%                     NaN                  NaN   20000.000000    3.00000
50%                     NaN                  NaN   30000.000000    4.00000
75%                     NaN                  NaN   58000.000000    6.00000
max                     NaN                  NaN  250000.000000   34.00000

In [8]:
# 提数日。2016/7/20
from datetime import datetime
exdata_date=datetime(2016,7,20)
print(exdata_date)

2016-07-20 00:00:00

In [49]:
data['最近一次投资时间'][0]

Timestamp('2016-06-26 00:00:00')

In [51]:
type(data['最近一次投资时间'][0])

pandas._libs.tslibs.timestamps.Timestamp

In [57]:
data['最近一次投资时间'][0].day

26

In [53]:
exdata_date-data['最近一次投资时间'][0]

Timedelta('24 days 00:00:00')

In [54]:
type(exdata_date-data['最近一次投资时间'][0])

pandas._libs.tslibs.timedeltas.Timedelta

In [59]:
(exdata_date-data['最近一次投资时间'][0]).days

24

In [65]:
# diff_R最后一次投资时间距提数日天数
diff_R=exdata_date-data['最近一次投资时间']

# Timedelta('24 days 00:00:00')
print(diff_R)

用户编码
45B3CCE7-957B-4D54-9626-6D62731D119B   24 days
9921C535-75FC-4695-8551-32B8D717B4A5   24 days
2F00D4E3-CC7D-4DB1-B210-6F095156C5B8   31 days
150218D8-BF32-406D-A3A8-8A19CB1E85AA   34 days
98C26D4A-708F-4334-B3D7-EDAE9FD240C8   23 days
18D45BC4-1A97-4ADD-9D0F-66DA8C145A0B   28 days
E5CC2DD2-8FA5-419F-91B3-AB9CE7B328DA   39 days
5F4FD0DC-48D1-49BC-B3CC-CCC05CF0C3C3   22 days
2D946CBC-13CE-4E6E-895D-066323B9B8EF   38 days
E4E608DE-8188-48A7-A2A0-FCD07333F0D6   25 days
018B3167-5DF4-424B-8A6F-D2B1E4AD5DFE   21 days
A26BCDD2-1644-471D-964A-F2F3B961FBEC   21 days
B3F426C5-5D43-4AFF-B3D4-DD4DEA91F652   27 days
BD2A888B-4670-4802-89ED-76897EF8B282   28 days
0FB27554-23D4-4020-8274-A7ADD47D5FE0   23 days
A9CE5B32-9507-4CFB-916A-9BD0C20FC931   32 days
F829EF86-9639-42D0-99CF-565CBCA855AD   38 days
6121AF2F-3BD4-4A21-881C-9723E250A5BE   21 days
5D8AD327-9060-488A-8B98-9544282D8776   25 days
1EFAA3C0-9D81-4568-B6F1-583156B9BFA6   24 days
3BBAD8FD-F8C4-4868-B562-F701360B0606   35 days
886A7B2A-BDD7-4008-B5D0-524C3B5F9D59   25 days
D50C580E-B3DE-486C-8B96-DEC34DF57A1B   32 days
74E86912-D781-4955-B158-1C0DACB13512   24 days
30C1C7FC-2DFB-4885-B332-385DE930CFF7    2 days
533A79F3-DD3F-44C3-A72A-FFAA14F32FBB    6 days
DC1E18E3-8A74-4998-97CF-94B19386B43B   32 days
0E773B8D-609E-470E-8669-898BF1B8A480    9 days
75CCB833-356D-4248-B285-96E935F50991   44 days
770E2D36-9C92-48A4-98B8-3BFEAA2AF567   30 days
                                         ...
8EC97FDA-0479-418C-88F7-3967482A9F5E   21 days
7E0449AC-C11E-42BE-ADA2-E02229A237B3   20 days
6D6F53D2-9F38-4A77-B373-4CB580942885   32 days
6EA81211-CBA0-451A-A579-167492928706   22 days
3D046A9F-CA77-430B-B234-81B734FB060D    2 days
281423A0-9505-4045-AA9F-B6D2BD0ACA03   25 days
3ACDB359-302E-4E5F-9DE3-84EFE5900BCB    8 days
3E3A7FFA-C8E7-4CA8-A6E3-65FE57B24C26   22 days
2F252A7F-9107-4CF8-94EB-E080EC396D97    8 days
3657D754-9D97-4EA2-B071-8ADFAB953555   24 days
63B17151-45CB-4AF1-B260-7291C59BB707   31 days
105B6373-18E1-419A-9999-98C1C035019B   15 days
110BDD90-3775-4231-B48F-B3171FD8575D   21 days
1244682D-C3C2-4522-9938-E1FEE72DBC97   25 days
208C6743-558D-40EF-9358-283D88432169   18 days
8FEC8427-FBF4-4E0D-B83D-B1AEF20A663A   20 days
96B518DE-E0E8-4E04-9E46-EBD5E6D20CC3   25 days
90CD2A28-065E-477C-83AB-26CA30F2709F   25 days
9323DB59-0CED-4609-ACD4-6B4F262F13CD   18 days
F1FC6CF9-1FBF-4E00-A711-99C131413AE7   32 days
C99CAA9F-882B-409F-AE0B-80D87232BB79   17 days
C21ECD74-443E-4826-A383-219DE596E084   30 days
1E85B7E6-FBEE-4EB6-AB7A-8591C205C12A   28 days
F97987A1-3392-437A-8905-54D02BD52D6A   34 days
10D6B497-9883-49C8-97FE-C6E45C025B26   18 days
0E0C4268-2198-4622-A9CB-7DD3BA225291   21 days
203113AE-B955-45DE-BC25-7937275D6B20    9 days
20323E1A-3DC7-4DC2-B269-AC08005E8B6F   14 days
2079FE0B-ECFE-4F6D-A685-E35A33E967AA   30 days
17070DDD-17CA-4B6F-B549-091026F359FB   24 days
Name: 最近一次投资时间, Length: 200, dtype: timedelta64[ns]

In [66]:
diff_R[0]

Timedelta('24 days 00:00:00')

In [67]:
diff_R[0].days

24

In [68]:
type(diff_R)

pandas.core.series.Series

In [70]:
type(diff_R[0])

pandas._libs.tslibs.timedeltas.Timedelta

In [71]:
type(diff_R[0].days)

int

In [72]:
diff_R[0].days

24

In [74]:
R=[]
for i in diff_R:
    R.append(i.days)

print(R[:10])

[24, 24, 31, 34, 23, 28, 39, 22, 38, 25]

In [75]:
"""
用户在投时长（月）
python没有获取月份差的函数，excel中有（datedif）
1，用户在投时长（天）diff_days
2，月=天/30，向上取整diff_months
"""
diff=exdata_date-data['首次投资时间']
diff.head()

用户编码
45B3CCE7-957B-4D54-9626-6D62731D119B   25 days
9921C535-75FC-4695-8551-32B8D717B4A5   24 days
2F00D4E3-CC7D-4DB1-B210-6F095156C5B8   37 days
150218D8-BF32-406D-A3A8-8A19CB1E85AA   34 days
98C26D4A-708F-4334-B3D7-EDAE9FD240C8   23 days
Name: 首次投资时间, dtype: timedelta64[ns]

In [76]:
diff[0].days

25

In [77]:
diff[0].days/30

0.8333333333333334

In [78]:
from math import ceil
ceil(diff[0].days/30)

1

In [79]:
# 通过循环来获取相差天数，用户在投时长（天）
diff_days=[]
for i in diff:
    diff_days.append(i.days)
print(diff_days[:10])

[25, 24, 37, 34, 23, 28, 41, 22, 38, 25]

In [80]:
# 通过循环向上取整，得到用户在投时长（月）
diff_months=[]
for i in diff_days:
    diff_months.append(ceil(i/30))
print(diff_months[:30])

[1, 1, 2, 2, 1, 1, 2, 1, 2, 1, 1, 1, 1, 1, 1, 2, 2, 1, 1, 1, 2, 2, 2, 1, 2, 2, 2, 2, 2, 2]

In [81]:
# 计算F（月均投资次数）
F=data['总计投标总次数']/diff_months
print(type(F))
F=F.values
F[:10]

<class 'pandas.core.series.Series'>

array([3. , 3. , 2. , 1.5, 3. , 3. , 1.5, 3. , 1. , 3. ])

In [83]:
# 计算M（月均投资金额）
M=(data['总计投资总金额']/diff_months).values
M[:10]

array([ 20000.,  50000.,  54000.,  15000., 100000.,  15000.,  10000.,
        16000.,   7500.,  20000.])

In [84]:
# 选取FRM三个指标作为聚类分析的指标
from pandas import DataFrame
cdata=DataFrame([R,list(F),list(M)])
cdata.head()

,0,1,2,3,4,5,6,7,8,9,...,190,191,192,193,194,195,196,197,198,199
0,24.0,24.0,31.0,34.0,23.0,28.0,39.0,22.0,38.0,25.0,...,17.0,30.00,28.0,34.0,18.0,21.0,9.0,14.0,30.0,24.0
1,3.0,3.0,2.0,1.5,3.0,3.0,1.5,3.0,1.0,3.0,...,7.0,2.00,1.5,1.5,4.0,3.0,2.0,2.5,2.0,4.0
2,20000.0,50000.0,54000.0,15000.0,100000.0,15000.0,10000.0,16000.0,7500.0,20000.0,...,30000.0,25004.05,6500.0,21000.0,11550.0,15000.0,6500.0,6000.0,7800.0,31000.0

In [85]:
# 选取FRM三个指标作为聚类分析的指标
from pandas import DataFrame
cdata=DataFrame([R,list(F),list(M)]).T
cdata.head()

      0    1         2
0  24.0  3.0   20000.0
1  24.0  3.0   50000.0
2  31.0  2.0   54000.0
3  34.0  1.5   15000.0
4  23.0  3.0  100000.0

In [86]:
# 指定cdata的index,columns
cdata.index=data.index
cdata.columns=["R最近一次投资时间距提数日的天数","F月均投资次数","M月均投资金额"]
cdata.head()

                                      R最近一次投资时间距提数日的天数  F月均投资次数   M月均投资金额
用户编码
45B3CCE7-957B-4D54-9626-6D62731D119B              24.0      3.0   20000.0
9921C535-75FC-4695-8551-32B8D717B4A5              24.0      3.0   50000.0
2F00D4E3-CC7D-4DB1-B210-6F095156C5B8              31.0      2.0   54000.0
150218D8-BF32-406D-A3A8-8A19CB1E85AA              34.0      1.5   15000.0
98C26D4A-708F-4334-B3D7-EDAE9FD240C8              23.0      3.0  100000.0

## K—Means聚类分析

In [87]:
cdata.mean()

R最近一次投资时间距提数日的天数       22.66500
F月均投资次数                 4.24250
M月均投资金额             35821.24175
dtype: float64

In [88]:
# 数据标准化
zcdata=(cdata-cdata.mean())/cdata.std()
zcdata.head()

                                      R最近一次投资时间距提数日的天数   F月均投资次数   M月均投资金额
用户编码
45B3CCE7-957B-4D54-9626-6D62731D119B          0.140422 -0.353751 -0.392133
9921C535-75FC-4695-8551-32B8D717B4A5          0.140422 -0.353751  0.351423
2F00D4E3-CC7D-4DB1-B210-6F095156C5B8          0.876714 -0.638461  0.450564
150218D8-BF32-406D-A3A8-8A19CB1E85AA          1.192268 -0.780815 -0.516059
98C26D4A-708F-4334-B3D7-EDAE9FD240C8          0.035237 -0.353751  1.590683

In [95]:
# sklearn
from sklearn.cluster import KMeans
kmodel=KMeans(n_clusters=4,n_jobs=4,max_iter=100,random_state=0)
kmodel.fit(zcdata)
kmodel.labels_

array([0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 2, 2, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 2, 0, 0,
       0, 0, 1, 2, 0, 0, 0, 0, 2, 0, 0, 0, 0, 1, 0, 3, 0, 0, 0, 0, 0, 3,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 3, 2, 0, 2, 0, 1, 0, 2, 0, 0, 2, 3, 2,
       2, 2, 2, 0, 1, 0, 2, 0, 2, 2, 2, 0, 1, 0, 3, 1, 0, 2, 2, 0, 0, 0,
       2, 0, 0, 0, 2, 2, 3, 2, 2, 3, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0,
       3, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 2, 2, 2, 2, 0, 0, 0, 1, 0, 2, 0,
       3, 2, 2, 0, 0, 0, 2, 1, 0, 0, 0, 1, 0, 0, 2, 2, 0, 0, 0, 1, 2, 1,
       2, 0, 2, 0, 0, 1, 2, 0, 2, 0, 0, 0, 0, 0, 2, 0, 0, 0, 2, 0, 2, 2,
       0, 0], dtype=int32)

In [96]:
print(type(kmodel.labels_))

<class 'numpy.ndarray'>

In [97]:
# 统计每个类别的频率
from pandas import Series
Series(kmodel.labels_).value_counts()

0    128
2     44
1     19
3      9
dtype: int64

In [98]:
# 将类别标签赋回原数据

cdata_rst=pd.concat([cdata,Series(kmodel.labels_,index=cdata.index)],axis=1)
cdata_rst.head()

                                      R最近一次投资时间距提数日的天数  F月均投资次数   M月均投资金额  0
用户编码
45B3CCE7-957B-4D54-9626-6D62731D119B              24.0      3.0   20000.0  0
9921C535-75FC-4695-8551-32B8D717B4A5              24.0      3.0   50000.0  0
2F00D4E3-CC7D-4DB1-B210-6F095156C5B8              31.0      2.0   54000.0  0
150218D8-BF32-406D-A3A8-8A19CB1E85AA              34.0      1.5   15000.0  0
98C26D4A-708F-4334-B3D7-EDAE9FD240C8              23.0      3.0  100000.0  1

In [101]:
list(cdata.columns)

['R最近一次投资时间距提数日的天数', 'F月均投资次数', 'M月均投资金额']

In [102]:
# 命名最后一列


cdata_rst.columns=list(cdata.columns)+["类别"]
cdata_rst.head()

                                      R最近一次投资时间距提数日的天数  F月均投资次数   M月均投资金额  类别
用户编码
45B3CCE7-957B-4D54-9626-6D62731D119B              24.0      3.0   20000.0   0
9921C535-75FC-4695-8551-32B8D717B4A5              24.0      3.0   50000.0   0
2F00D4E3-CC7D-4DB1-B210-6F095156C5B8              31.0      2.0   54000.0   0
150218D8-BF32-406D-A3A8-8A19CB1E85AA              34.0      1.5   15000.0   0
98C26D4A-708F-4334-B3D7-EDAE9FD240C8              23.0      3.0  100000.0   1

In [104]:
# 按照类别分组统计RFM指标的均值
# groupby
cdata_rst.groupby(cdata_rst['类别'])

In [106]:
# 按照类别分组统计RFM指标的均值
# groupby
cdata_rst.groupby(cdata_rst['类别']).mean()

    R最近一次投资时间距提数日的天数    F月均投资次数        M月均投资金额
类别
0          27.859375   2.820312   21906.754297
1          20.684211   4.552632  115842.105263
2          10.568182   5.579545   26984.313636
3          12.111111  17.277778  107986.000000

**结论**
- 类别3：重要价值客户，或者超级用户
- 类别0：价值客户
- 类别1：M很高，重要保持客户